In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('C:\\Users\\Kishan\\Desktop\\Project\\ml_2022.csv')

In [3]:
df.head()

,Loan Identifier,Customer Identification,Loan Type,Loan Source,Loan Related to,Principle Amount asked,Principle amount approved,disbursal date,writtenoff date,NPA Flag,Loan agent,Branch Code
0,1723375,1314508,142,206,Null,60000.0,60000.0,2022-01-06,Null,0,4078,29
1,1723376,1314519,142,206,Null,60000.0,60000.0,2022-01-06,Null,0,4078,29
2,1723382,1489859,142,206,Null,60000.0,60000.0,2022-01-04,Null,0,8068,106
3,1723402,1489589,142,206,Null,60000.0,60000.0,2022-01-08,Null,0,11891,46
4,1723403,1464254,142,206,Null,60000.0,60000.0,2022-01-08,Null,0,11891,46

In [4]:
df.describe()

,Loan Identifier,Customer Identification,Loan Type,Principle Amount asked,Principle amount approved,NPA Flag,Branch Code
count,2.313020e+05,2.313020e+05,231302.000000,231302.000000,231302.000000,231302.000000,231302.000000
mean,2.043373e+06,1.709468e+06,121.588421,64415.860792,64415.817602,0.034820,145.515296
std,1.865899e+05,4.876818e+05,44.743101,14255.953085,14256.133078,0.183325,88.363996
min,1.723375e+06,4.049200e+04,5.000000,10.000000,10.000000,0.000000,2.000000
25%,1.897990e+06,1.420745e+06,71.000000,60000.000000,60000.000000,0.000000,76.000000
50%,2.040312e+06,1.695164e+06,142.000000,60000.000000,60000.000000,0.000000,124.000000
75%,2.198036e+06,2.107037e+06,158.000000,85000.000000,85000.000000,0.000000,218.000000
max,2.819632e+06,2.566808e+06,189.000000,200000.000000,200000.000000,1.000000,338.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231302 entries, 0 to 231301
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Loan Identifier            231302 non-null  int64
 1   Customer Identification    231302 non-null  int64
 2   Loan Type                  231302 non-null  int64
 3   Loan Source                231302 non-null  object
 4   Loan Related to            231302 non-null  object
 5   Principle Amount asked     231302 non-null  float64
 6   Principle amount approved  231302 non-null  float64
 7   disbursal date             231302 non-null  object
 8   writtenoff date            231302 non-null  object
 9   NPA Flag                   231302 non-null  int64
 10  Loan agent                 231302 non-null  object
 11  Branch Code                231302 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 21.2+ MB

In [6]:
df.isnull().sum()

Loan Identifier              0
Customer Identification      0
Loan Type                    0
Loan Source                  0
Loan Related to              0
Principle Amount asked       0
Principle amount approved    0
disbursal date               0
writtenoff date              0
NPA Flag                     0
Loan agent                   0
Branch Code                  0
dtype: int64

In [7]:
df.duplicated().sum()

0

In [8]:
def get_transaction_type(row):
    if row['Loan Type']>=5 and row['Loan Type']<=50:
        return "Bussiness Loan"
    elif row['Loan Type']>=51 and row['Loan Type']<=100:
        return "Personal Loan"
    elif row['Loan Type']>=101 and row['Loan Type']<=150:
        return "Car Loan"
    elif row['Loan Type']>=151 and row['Loan Type']<=189:
        return "Home Loan"
    else:
        return ""

df['Type_of_Loan'] = df.apply(get_transaction_type, axis=1)

In [9]:
df['Type_of_Loan'].unique()

array(['Car Loan', 'Bussiness Loan', 'Personal Loan', 'Home Loan'],
      dtype=object)

In [10]:
df['Branch Code'].max()

338

In [11]:
def get_State_Name(row):
    if row['Branch Code']>=2 and row['Branch Code']<=50:
        return "Gujarat"
    elif row['Branch Code']>=51 and row['Branch Code']<=100:
        return "Maharastra"
    elif row['Branch Code']>=101 and row['Branch Code']<=150:
        return "Odisha"
    elif row['Branch Code']>=151 and row['Branch Code']<=200:
        return "Rajsthan"
    elif row['Branch Code']>=201 and row['Branch Code']<=250:
        return "U.P"
    elif row['Branch Code']>=251 and row['Branch Code']<=300:
        return "Delhi"
    elif row['Branch Code']>=300 and row['Branch Code']<=338:
        return "Goa"
    else:
        return ""

df['State'] = df.apply(get_State_Name, axis=1)

In [12]:
df['State'].unique()

array(['Gujarat', 'Odisha', 'Maharastra', 'Goa', 'U.P', 'Delhi',
       'Rajsthan'], dtype=object)

In [13]:
df['disbursal date']= pd.to_datetime(df['disbursal date'])

In [14]:
df.drop(['Loan Related to'], axis=1,inplace=True)

In [15]:
df.isnull().any()

Loan Identifier              False
Customer Identification      False
Loan Type                    False
Loan Source                  False
Principle Amount asked       False
Principle amount approved    False
disbursal date               False
writtenoff date              False
NPA Flag                     False
Loan agent                   False
Branch Code                  False
Type_of_Loan                 False
State                        False
dtype: bool

In [16]:
df['Disbursal Year'] = df['disbursal date'].dt.year

In [17]:
df.groupby('Branch Code')['Principle amount approved'].sum().nlargest(5)

Branch Code
237    235120068.0
147    215999697.0
76     202196589.0
287    195143944.0
41     190266978.0
Name: Principle amount approved, dtype: float64

In [18]:
df.groupby('Branch Code')['Loan Identifier'].count().nlargest(5)

Branch Code
237    3678
147    3293
76     3021
287    2964
41     2962
Name: Loan Identifier, dtype: int64

In [19]:
loan_Sum = df.groupby('Branch Code').agg(Number_of_Loans=('Principle amount approved', 'sum'))
smallest_loan_sum = loan_Sum.nsmallest(5, 'Number_of_Loans')
print(smallest_loan_sum)

             Number_of_Loans
Branch Code
62                   66385.0
64                  103982.0
69                  105495.0
86                  129203.0
81                  134322.0

In [20]:
                           
loan_counts = df.groupby('Branch Code').agg(Number_of_Loans=('Loan Identifier', 'count'))
smallest_loan_counts = loan_counts.nsmallest(5, 'Number_of_Loans')
print(smallest_loan_counts)

             Number_of_Loans
Branch Code
253                        3
62                         4
22                         5
244                        5
69                         6

In [21]:
df['Loan Identifier'].count()

231302

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231302 entries, 0 to 231301
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Loan Identifier            231302 non-null  int64
 1   Customer Identification    231302 non-null  int64
 2   Loan Type                  231302 non-null  int64
 3   Loan Source                231302 non-null  object
 4   Principle Amount asked     231302 non-null  float64
 5   Principle amount approved  231302 non-null  float64
 6   disbursal date             231302 non-null  datetime64[ns]
 7   writtenoff date            231302 non-null  object
 8   NPA Flag                   231302 non-null  int64
 9   Loan agent                 231302 non-null  object
 10  Branch Code                231302 non-null  int64
 11  Type_of_Loan               231302 non-null  object
 12  State                      231302 non-null  object
 13  Disbursal Year             231302 non-null  int32
dtypes: datetime64[ns](1), float64(2), int32(1), int64(5), object(5)
memory usage: 23.8+ MB

In [24]:
df2=pd.read_csv('C:\\Users\\Kishan\\Desktop\\Project\\mlrs_2022.csv')

In [25]:
df2["Loan Identifier"] = df2["Loan Identifier"].str.replace('[^0-9]', '', regex=True).str.strip()

# Step 2: Convert the column to integers
df2["Loan Identifier"] = df2["Loan Identifier"].astype(int)

In [26]:
df2["Repayment start date"] = df2["Repayment start date"].str.replace('"', '').str.strip()

# Step 2: Convert the column to datetime
df2["Repayment start date"] = pd.to_datetime(df2["Repayment start date"])

In [27]:
df2.replace('Null', np.nan, inplace=True)

# Convert Loan Principal Amount to float
df2["Loan Principal Amount"] = df2["Loan Principal Amount"].str.replace('"','').str.strip().astype(float)

# Convert Interest Amount to float
df2["Interest Amount"] = df2["Interest Amount"].str.replace('"','').str.strip().astype(float)

In [28]:
#df['Date on which EMI was cleared'] = pd.to_datetime(df['Date on which EMI was cleared'])
df2["Date on which EMI was cleared"] = df2["Date on which EMI was cleared"].str.replace('"','').fillna('').str.strip()
df2["Date on which EMI was cleared"] = pd.to_datetime(df2["Date on which EMI was cleared"])

In [31]:
df2['Date on which EMI was cleared'].isnull().sum()

671354

In [33]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 8 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   Loan Identifier                1048575 non-null  int32
 1   Repayment start date           1048575 non-null  datetime64[ns]
 2   Loan Principal Amount          1032141 non-null  float64
 3   Interest Amount                1031928 non-null  float64
 4   Fee charge                     0 non-null        float64
 5   Penalty Charge                 0 non-null        float64
 6   Advance Payment                0 non-null        float64
 7   Date on which EMI was cleared  377221 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(5), int32(1)
memory usage: 60.0 MB

In [34]:
merged = pd.merge(df, df2, on='Loan Identifier', how='left')

grouped = merged.groupby(
    ['Loan Identifier', 'Customer Identification', 'Loan Type', 'Loan Source', 'Principle Amount asked', 'Principle amount approved', 'disbursal date', 'writtenoff date', 'NPA Flag', 'Loan agent', 'Branch Code','Type_of_Loan','State'],
    as_index=False
).agg({'Loan Principal Amount': 'sum', 'Interest Amount': 'sum'})

grouped['Loan Principal Amount'] = grouped['Loan Principal Amount'].fillna(0).astype(int)
grouped['Interest Amount'] = grouped['Interest Amount'].fillna(0).astype(int)

grouped = grouped.rename(columns={'Loan Principal Amount': 'total_approved_amount', 'Interest Amount': 'total_interest_amount'})

# Sort the result by Loan Identifier
grouped = grouped.sort_values(by='Loan Identifier')

print(grouped)

        Loan Identifier  Customer Identification  Loan Type Loan Source  \
0               1723375                  1314508        142         206
1               1723376                  1314519        142         206
2               1723382                  1489859        142         206
3               1723402                  1489589        142         206
4               1723403                  1464254        142         206
...                 ...                      ...        ...         ...
231297          2385098                  2049854          5         245
231298          2385136                  1891365          5         236
231299          2385137                  1589906          5         218
231300          2723852                  2219084         89        Null
231301          2819632                  2483140         70        Null

        Principle Amount asked  Principle amount approved disbursal date  \
0                      60000.0                    60000.0     2022-01-06
1                      60000.0                    60000.0     2022-01-06
2                      60000.0                    60000.0     2022-01-04
3                      60000.0                    60000.0     2022-01-08
4                      60000.0                    60000.0     2022-01-08
...                        ...                        ...            ...
231297                 51890.0                    51890.0     2022-12-31
231298                 52569.0                    52569.0     2022-12-31
231299                 40482.0                    40482.0     2022-12-31
231300                 42000.0                    42000.0     2022-12-07
231301                 50000.0                    50000.0     2022-12-22

       writtenoff date  NPA Flag Loan agent  Branch Code    Type_of_Loan  \
0                 Null         0       4078           29        Car Loan
1                 Null         0       4078           29        Car Loan
2                 Null         0       8068          106        Car Loan
3                 Null         0      11891           46        Car Loan
4                 Null         0      11891           46        Car Loan
...                ...       ...        ...          ...             ...
231297            Null         0      11012          121  Bussiness Loan
231298            Null         0      13323           66  Bussiness Loan
231299            Null         0      13197          277  Bussiness Loan
231300            Null         0       6651            8   Personal Loan
231301            Null         0       6651            8   Personal Loan

             State  total_approved_amount  total_interest_amount
0          Gujarat                  60000                  13325
1          Gujarat                  60000                  13325
2           Odisha                  60000                  12806
3          Gujarat                  60000                  12854
4          Gujarat                  60000                  12854
...            ...                    ...                    ...
231297      Odisha                      0                      0
231298  Maharastra                      0                      0
231299       Delhi                      0                      0
231300     Gujarat                      0                      0
231301     Gujarat                      0                      0

[231302 rows x 15 columns]

In [35]:
grouped['Total_Payment_Collected'] = grouped['total_approved_amount'] + grouped['total_interest_amount']

In [36]:
grouped['Total_Payment_Collected'].sum()

979299612

In [37]:
grouped['total_interest_amount'].sum()

186343056

In [81]:
df2['Advance Payment'].sum()

0.0

In [38]:
grouped.groupby('Branch Code')['Total_Payment_Collected'].sum().nlargest(5)

Branch Code
219    19100935
147    17926788
142    16439468
100    14735700
237    14106296
Name: Total_Payment_Collected, dtype: int32

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231302 entries, 0 to 231301
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Loan Identifier            231302 non-null  int64
 1   Customer Identification    231302 non-null  int64
 2   Loan Type                  231302 non-null  int64
 3   Loan Source                231302 non-null  object
 4   Principle Amount asked     231302 non-null  float64
 5   Principle amount approved  231302 non-null  float64
 6   disbursal date             231302 non-null  datetime64[ns]
 7   writtenoff date            231302 non-null  object
 8   NPA Flag                   231302 non-null  int64
 9   Loan agent                 231302 non-null  object
 10  Branch Code                231302 non-null  int64
 11  Type_of_Loan               231302 non-null  object
 12  State                      231302 non-null  object
 13  Disbursal Year             231302 non-null  int32
dtypes: datetime64[ns](1), float64(2), int32(1), int64(5), object(5)
memory usage: 23.8+ MB

In [40]:
df2

,Loan Identifier,Repayment start date,Loan Principal Amount,Interest Amount,Fee charge,Penalty Charge,Advance Payment,Date on which EMI was cleared
0,1723378,2022-01-08,2031.0,1069.0,NaN,NaN,NaN,NaT
1,1723378,2022-02-10,2224.0,876.0,NaN,NaN,NaN,NaT
2,1723378,2022-03-10,2167.0,933.0,NaN,NaN,NaN,NaT
3,1723378,2022-04-10,2232.0,868.0,NaN,NaN,NaN,NaT
4,1723378,2022-05-10,2241.0,859.0,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...
1048570,1768226,2023-11-05,2979.0,121.0,NaN,NaN,NaN,NaT
1048571,1768226,2023-12-05,3025.0,75.0,NaN,NaN,NaN,NaT
1048572,1768226,2024-01-05,1452.0,24.0,NaN,NaN,NaN,NaT
1048573,1768227,2022-02-04,2161.0,939.0,NaN,NaN,NaN,NaT
1048574,1768227,2022-03-05,2132.0,968.0,NaN,NaN,NaN,NaT

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231302 entries, 0 to 231301
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Loan Identifier            231302 non-null  int64
 1   Customer Identification    231302 non-null  int64
 2   Loan Type                  231302 non-null  int64
 3   Loan Source                231302 non-null  object
 4   Principle Amount asked     231302 non-null  float64
 5   Principle amount approved  231302 non-null  float64
 6   disbursal date             231302 non-null  datetime64[ns]
 7   writtenoff date            231302 non-null  object
 8   NPA Flag                   231302 non-null  int64
 9   Loan agent                 231302 non-null  object
 10  Branch Code                231302 non-null  int64
 11  Type_of_Loan               231302 non-null  object
 12  State                      231302 non-null  object
 13  Disbursal Year             231302 non-null  int32
dtypes: datetime64[ns](1), float64(2), int32(1), int64(5), object(5)
memory usage: 23.8+ MB

In [64]:
df['writtenoff date'] = df['writtenoff date'].where(df['writtenoff date'] != 'Null', '')

In [104]:
df['writtenoff date'].count()

3061

In [84]:
df['writtenoff date'].value_counts()

writtenoff date
2024-03-04    2689
2023-03-31     305
2022-09-27      67
Name: count, dtype: int64

In [67]:
df["writtenoff date"] = pd.to_datetime(df["writtenoff date"])

In [68]:
df["writtenoff date"] = pd.to_datetime(df["writtenoff date"], format="%Y-%m-%d")

In [69]:
df["writtenoff date"].isnull().sum()

228241

In [70]:
df["writtenoff date"] = pd.to_datetime(df["writtenoff date"], format="%Y-%m-%d")  # Assuming YYYY-MM-DD format

In [73]:
df["Disbursal Year"] = pd.to_datetime(df["Disbursal Year"])

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231302 entries, 0 to 231301
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Loan Identifier            231302 non-null  int64
 1   Customer Identification    231302 non-null  int64
 2   Loan Type                  231302 non-null  int64
 3   Loan Source                231302 non-null  object
 4   Principle Amount asked     231302 non-null  float64
 5   Principle amount approved  231302 non-null  float64
 6   disbursal date             231302 non-null  datetime64[ns]
 7   writtenoff date            3061 non-null    datetime64[ns]
 8   NPA Flag                   231302 non-null  int64
 9   Loan agent                 231302 non-null  object
 10  Branch Code                231302 non-null  int64
 11  Type_of_Loan               231302 non-null  object
 12  State                      231302 non-null  object
 13  Disbursal Year             231302 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(5), object(4)
memory usage: 24.7+ MB

In [86]:
df.replace('Null', np.nan, inplace=True)

In [87]:
df['Loan Source'] = df['Loan Source'].fillna(0).astype(int)

In [99]:
df =df.drop('Source_Name', axis=1)

In [92]:
df.info('Disbursal Year')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231302 entries, 0 to 231301
Data columns (total 13 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Loan Identifier            231302 non-null  int64
 1   Customer Identification    231302 non-null  int64
 2   Loan Type                  231302 non-null  int64
 3   Loan Source                231302 non-null  int32
 4   Principle Amount asked     231302 non-null  float64
 5   Principle amount approved  231302 non-null  float64
 6   disbursal date             231302 non-null  datetime64[ns]
 7   writtenoff date            3061 non-null    datetime64[ns]
 8   NPA Flag                   231302 non-null  int64
 9   Loan agent                 231271 non-null  object
 10  Branch Code                231302 non-null  int64
 11  Type_of_Loan               231302 non-null  object
 12  State                      231302 non-null  object
dtypes: datetime64[ns](2), float64(2), int32(1), int64(5), object(3)
memory usage: 22.1+ MB

In [100]:
def get_Source_Name(row):
    if row['Loan Source']>=0 and row['Loan Source']<1:
        return "Unknown"
    elif row['Loan Source']>=1 and row['Loan Source']<=70:
        return "Internal"
    elif row['Loan Source']>=71 and row['Loan Source']<=140:
        return "External"
    elif row['Loan Source']>=141 and row['Loan Source']<=210:
        return "Government_Source"
    elif row['Loan Source']>=211 and row['Loan Source']<=280:
        return "Specialized_Funding"
    elif row['Loan Source']>=281 and row['Loan Source']<=350:
        return "NBFC"
    else:
        return ""

df['Source_Name'] = df.apply(get_Source_Name, axis=1)

In [101]:
df['Source_Name'].value_counts()

Source_Name
Specialized_Funding    137293
NBFC                    48745
Government_Source       30841
Internal                11210
Unknown                  2264
External                  949
Name: count, dtype: int64

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231302 entries, 0 to 231301
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Loan Identifier            231302 non-null  int64
 1   Customer Identification    231302 non-null  int64
 2   Loan Type                  231302 non-null  int64
 3   Loan Source                231302 non-null  int32
 4   Principle Amount asked     231302 non-null  float64
 5   Principle amount approved  231302 non-null  float64
 6   disbursal date             231302 non-null  datetime64[ns]
 7   writtenoff date            3061 non-null    datetime64[ns]
 8   NPA Flag                   231302 non-null  int64
 9   Loan agent                 231271 non-null  object
 10  Branch Code                231302 non-null  int64
 11  Type_of_Loan               231302 non-null  object
 12  State                      231302 non-null  object
 13  Source_Name                231302 non-null  object
dtypes: datetime64[ns](2), float64(2), int32(1), int64(5), object(4)
memory usage: 23.8+ MB

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231302 entries, 0 to 231301
Data columns (total 13 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Loan Identifier            231302 non-null  int64
 1   Customer Identification    231302 non-null  int64
 2   Loan Type                  231302 non-null  int64
 3   Loan Source                231302 non-null  int32
 4   Principle Amount asked     231302 non-null  float64
 5   Principle amount approved  231302 non-null  float64
 6   disbursal date             231302 non-null  datetime64[ns]
 7   writtenoff date            3061 non-null    datetime64[ns]
 8   NPA Flag                   231302 non-null  int64
 9   Loan agent                 231271 non-null  object
 10  Branch Code                231302 non-null  int64
 11  Type_of_Loan               231302 non-null  object
 12  State                      231302 non-null  object
dtypes: datetime64[ns](2), float64(2), int32(1), int64(5), object(3)
memory usage: 22.1+ MB

In [78]:
df['Customer Identification'].is_unique

False

In [ ]:
df2.info()

In [105]:
df2.to_csv('Final3.csv', index=False)

In [102]:
df.to_csv('Final.csv', index=False)

In [106]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 8 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   Loan Identifier                1048575 non-null  int32
 1   Repayment start date           1048575 non-null  datetime64[ns]
 2   Loan Principal Amount          1032141 non-null  float64
 3   Interest Amount                1031928 non-null  float64
 4   Fee charge                     0 non-null        float64
 5   Penalty Charge                 0 non-null        float64
 6   Advance Payment                0 non-null        float64
 7   Date on which EMI was cleared  377221 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(5), int32(1)
memory usage: 60.0 MB